label{
    font-size: 12px;
    color: #2B3674;
    font-weight: 600;
}
.form{
    background: #E9EDF2;
    margin: auto;
}
span {
    color: red;
}
h2{
    color:  #2B3674;
    font-size: 20px;
    font-weight: 1000px;
    
}
.upload-box {
    border: dashed;
}
.warning-message{
    font-size: 11px;
    font-weight: 800px;
}

